{
  "sessions": {
    "default": "platform.rdp",
    "platform": {
      "rdp": {
        "app-key": "e390cd3ff27d4b409a0a39950280395d8433ddb4",
        "username": "francesco.mammetti@studenti.luiss.it",
        "password": "Investment_Project_2026!$!"
      }
    }
  },
  "logging": {
    "level": "warning"
  }
}